PORT=5000
# Clergy system Apps Script URL
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxH4v9p4CcqsBbMiVP56laGBoKSbXKPIrR3YUVYEDfR3MQn3SQ3Xo3vmlLsLZUXCGn0xg/exec
# Blog/Knowledge Base Apps Script URL (separate from clergy system)
BLOG_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxsNiAn2z4ql-xdwKGY_S445qjal_CNTS6hYB77BUfXCqz9N0_nSDHeO9LKq8bntyBT/exec
IMGBB_API_KEY=not_needed_anymore
